<h1>質問一覧</h1>

<% if @questions.empty? %>
  <p>まだ質問はありません。</p>
<% else %>
  <ul>
    <% @questions.each do |q| %>
      <li>
        <%= link_to q.title, question_path(q) %> 
        <% if q.user == current_user %>
          | <%= link_to "編集", edit_question_path(q) %>
          | <%= link_to "削除", question_path(q), method: :delete, data: { confirm: "本当に削除しますか？" } %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% end %>

<%= link_to "新規質問", new_question_path, class: "button" %>
