<h1>ログイン</h1>

<%= form_with url: login_path, method: :post, local: true do |f| %>
  <div>
    <%= text_field_tag :handle_name, nil, placeholder: "ハンドルネーム", required: true %>
  </div>

  <div>
    <%= submit_tag "ログイン", class: "button" %>
  </div>
<% end %>
