<div class="container home-wrapper">
  <h1>ようこそ！Q&Aアプリへ</h1>
  <p>まずはログインするか、新規登録してください。</p>

  <div class="home-buttons">
    <%= link_to "新規登録", signup_path, class: "button" %>
    <%= link_to "ログイン", login_path, class: "button" %>
  </div>
</div>
